/* tablet view */
@media only screen and (max-width: 1024px) {
    #blogMobileView {
        flex-direction: column;
        align-items: center; /* Align items center for center alignment */
        margin-right: 0; /* Remove right margin */
        margin-left: 0; /* Remove left margin */
      }
      #blogListMobileView {
        width: 100%; /* Set width to 100% */
        margin-right: 0; /* Remove right margin */
        margin-left: 0; /* Remove left margin */
        padding-right: 0 !important;
      }
      #topAuthListMobileView {
        width: 100%; /* Set width to 100% */
        margin-top: 2rem; /* Add margin-top */
      }
      #topAuthImgParent{
        margin-right: 0 !important;
        
      }
    }
  
  /* mobile devices */
  @media only screen and (max-width: 768px) {
    #blogMobileView {
        flex-direction: column;
        align-items: center; /* Align items center for center alignment */
        margin-right: 0 !important ; /* Remove right margin */
        margin-left: 0 !important;
        padding: 1.5rem !important /* Remove left margin */
      }
      #blogListMobileView {
        width: 100%; /* Set width to 100% */
        margin-right: 0 !important; /* Remove right margin */
        margin-left: 0 !important; /* Remove left margin */
        padding-right: 0 !important;
      }
      #topAuthListMobileView {
        width: 100%; /* Set width to 100% */
        margin-top: 2rem; /* Add margin-top */
      }
      #topAuthImgParent{
        margin-right: 0 !important;
        
      }
  
  }