
  
  .parent-login {
    /* display: flex; */
    background-color: #EBEEF1;
    height: 100vh;
    /* justify-content: center; */

  }
  
  .child-login {
    flex: 1;
  }
  .child-login-2 {
    flex: 1;
  }

  .text-bold1{
font-weight: 500;
font-size: 1.3rem;
  }

  .card-login{
width: 30rem;
border: 1px solid #C7C7C7;
border-radius: 5px;

  }
  .login-button1{
    width: 100%;
    background-color: #00A452;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  .login-button2{
    width: 100%;
    background-color: #0060B4;
    color: #fff;
    border-radius: 5px;
     font-size: 0.9rem;
  }

  .copy{
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
   
  }