/* styles.module.css */
.relatedPostContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0;
  }

  @media (max-width: 768px) {
    .relatedPostContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: 0;
      }

  }
  